/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #030000;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Estilizando o título */
h1 {
    text-align: center;
    color: #00aaff;
}

/* Estilizando o formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

/* Estilizando os campos do formulário */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilizando o botão de envio */
button {
    background-color: #00aaff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s;
}

/* Efeito hover no botão */
button:hover {
    background-color: #0088cc;
}

/* Estilizando a mensagem de feedback */
#mensagem {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilo de mensagem de erro */
#mensagem.red {
    color: red;
}

/* Estilo de mensagem de sucesso */
#mensagem.green {
    color: green;
}
